
/* David Gall, 02/10/15, MixItUp plugin Assignment */

body {
    background-color: #000000;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#Container .mix {
    display: none;
}

.container {
    padding: 2% 2% 0;
    text-align: justify;
    width: 90%;
    margin: auto;
    display: inline-flex;
    flex-direction: row;
    border: 1px solid #000000;
    border-radius: 30px;
    background-image: linear-gradient(#2D39FF, #20A2FF);
}
.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.filterBox {
    margin-bottom: 5%;
    text-align: center;
}
.filterBox .filter, .filterBox .sort {
    display: inline-block;
}
button {
    margin-left: 2%;
    padding: 5px;
    border-radius: 8px;
    background-image: linear-gradient(#4ACC10, #47B217);
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(#47B217, #4ACC10);
}


.container .mix {
    text-align: center;
    width: 20%;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-bottom: 2%;
    padding: 2%;
    vertical-align: top;
    display: none;
    box-shadow: 4px 4px 4px #00087F;
}

.container .mix:before {
    content: '';
    display: inline-block;
    /*padding-top: 60%;*/
}

.container .blackBG {
    background-color: #000000;
    color: #ffffff;
}

.star {
    background-color: #E0FF31;
}

.girl {
    background-color: #9315E5;
}

.girlBG {
    box-shadow: 4px 4px 4px #5D0098;
    border-radius: 10px;
}








